<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raju's FrontEnd Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <div class="left-navbar">
            <h1><span style="color:blueviolet">Raju's</span>&nbsp;Projects</h1>
        </div>
        <div class="right-navbar"></div>
    </div>
    <div class="main-container">
        
        <!-- Project 1 -->
        <div class="projects project-1">
          <div class="picture"></div> 
          <div class="project-title">
            <h1>Area And Perimeter</h1>
          </div> 
          <div class="project-details">
            <p>
                The following are calculators to evaluate the area of seven common shapes. The area of more complex shapes can usually be obtained by breaking them down into their aggregating simple shapes, and totaling their areas. This calculator is especially useful for estimating land area
            </p>
          </div>
          <div class="buttons">
               <button class="btn"><a href="/api/project/1">Show Demo !</a></button>
          </div> 
        </div>

        <!-- Project 2 -->
        <div class="projects project-2">
            <div class="picture"></div> 
            <div class="project-title">
                <h1>Bill Splitter</h1>
            </div>
            <div class="project-details">
                <p>
                    It’s all about dividing costs fairly within the group.  Not everyone necessarily has the same budget or wants to spend the same amount in an evening.  We want to make sure that expenses are shared where they should be and it’s totally clear who owes what.   
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/2">Show Demo !</a></button>
               
            </div> 
        </div>

        <!-- Project 3 -->
        <div class="projects project-3">
            <div class="picture"></div>
            <div class="project-title">
                <h1>BMI Calculater</h1>
            </div>
            <div class="project-details">
                <p>
                    The Body Mass Index (BMI) Calculator can be used to calculate BMI value and corresponding weight status while taking age into consideration. Use the "Metric Units" tab for the International System of Units or the "Other Units" tab to convert units into either US or metric units. Note that the calculator also computes the Ponderal Index in addition to BMI, both of which are discussed below in detail.
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/3">Show Demo !</a></button>
                
            </div>  
        </div>

        <!-- Project 4 -->
        <div class="projects project-4">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Color Generator</h1>
            </div>
            <div class="project-details">
                <p>
                    A color palette is a collection of colors chosen to create a specific aesthetic and emotional impact in design. It can include various combinations like complementary, analogous, triadic, or monochromatic schemes, each offering a unique visual experience. These palettes are essential in conveying themes, moods, and brand identities.
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/4">Show Demo !</a></button>
               
            </div>  
        </div>

        <!-- Project 5 -->
        <div class="projects project-5">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Counter</h1>
            </div>
            <div class="project-details">
                <p>
                    This code will create a simple counter game with three buttons: increment, decrement, and reset. When the user clicks the increment button, the count will increase by one. When the user clicks the decrement button, the count will decrease by one. When the user clicks the reset button, the count will be reset to zero. The count is displayed in the element with the id "count".
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/5">Show Demo !</a></button>
               
            </div>  
        </div>

        <!-- Project 6 -->
        <div class="projects project-6">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Forms</h1>
            </div> 
            <div class="project-details">
                <p>
                    A form is a document which contains blank spaces in which one can write or select an option. Forms can be distributed to several signatories at once, or made available on demand. Before being filled out, each copy of a form is usually identical, except, possibly, for a serial number.
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/6">Show Demo !</a></button>
                
            </div> 
        </div>

        <!-- Project 7 -->
        <div class="projects project-7">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Guess Number</h1>
            </div>
            <div class="project-details">
                <p>
                    The first player thinks of a secret number in some known range while the second player attempts to guess the number. After each guess, the first player answers either “Higher”, “Lower” or “Correct!” depending on whether the secret number is higher, lower or equal to the guess.
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/7">Show Demo !</a></button>
                
            </div>  
        </div>


        <!-- Project 8 -->
        <div class="projects project-8">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Protfolio</h1>
            </div>
            <div class="project-details">
                <p>
                    The term "portfolio" refers to any combination of financial assets such as stocks, bonds and cash. Portfolios may be held by individual investors or managed by financial professionals, hedge funds, banks and other financial institutions
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/8">Show Demo !</a></button>
                
            </div>  
        </div>

        <!-- Project 9 -->
        <div class="projects project-9">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Rock Paper Scissors</h1>
            </div>
            <div class="project-details">
                <p>
                    Rock paper scissors (commonly scissors, paper, rock or stone in Australia and New Zealand) is an intransitive hand game, usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. 
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/9">Show Demo !</a></button>
               
            </div>  
        </div>

        <!-- Project 10 -->
        <div class="projects project-10">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Tic Tac Toe</h1>
            </div>
            <div class="project-details">
                <p>
                    Tic-tac-toe, noughts and crosses, or Xs and Os is a paper-and-pencil game for two players who take turns marking the spaces in a three-by-three grid with X or O. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.
                </p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/10">Show Demo !</a></button>
                
            </div>  
        </div>

        <!-- Project 11 -->
        <div class="projects project-11">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Background color Generator</h1>
            </div>
            <div class="project-details">
                <p>
                    Users can click the their desired color button for changing the background color.
                </p>
            </div>
            <div class="buttons">
                <button class="btn"><a href="/api/project/11">Show Demo !</a></button>
                
            </div>   
        </div>



        <!-- Project 12 -->
        <div class="projects project-12">
            <div class="picture"></div>
            <div class="project-title">
                <h1>Print Week Days</h1>
            </div>
            <div class="project-details">
                <p>Users can click the corresponding number of the week and print the Days of the week.</p>
            </div> 
            <div class="buttons">
                <button class="btn"><a href="/api/project/12">Show Demo !</a></button>
                
            </div>  
        </div>
     </div>
</body>
</html>